
# PlanAhead Generated physical constraints 

NET "B[3]" LOC = P35;
NET "B[2]" LOC = P34;
NET "B[1]" LOC = P33;
NET "B[0]" LOC = P32;
NET "G[3]" LOC = P30;
NET "G[2]" LOC = P29;
NET "G[1]" LOC = P27;
NET "G[0]" LOC = P26;
NET "R[3]" LOC = P24;
NET "R[2]" LOC = P23;
NET "R[1]" LOC = P22;
NET "R[0]" LOC = P21;
NET "CLKI" LOC = P123;
NET "hsync" LOC = P10;
NET "vsync" LOC = P9;

# PlanAhead Generated IO constraints 

NET "B[3]" IOSTANDARD = LVCMOS33;
NET "B[2]" IOSTANDARD = LVCMOS33;
NET "B[1]" IOSTANDARD = LVCMOS33;
NET "B[0]" IOSTANDARD = LVCMOS33;
NET "G[3]" IOSTANDARD = LVCMOS33;
NET "G[2]" IOSTANDARD = LVCMOS33;
NET "G[1]" IOSTANDARD = LVCMOS33;
NET "G[0]" IOSTANDARD = LVCMOS33;
NET "R[3]" IOSTANDARD = LVCMOS33;
NET "R[2]" IOSTANDARD = LVCMOS33;
NET "R[1]" IOSTANDARD = LVCMOS33;
NET "R[0]" IOSTANDARD = LVCMOS33;
NET "CLKI" IOSTANDARD = LVCMOS33;
NET "hsync" IOSTANDARD = LVCMOS33;
NET "vsync" IOSTANDARD = LVCMOS33;
